body {
  background: #e9ece5;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 18px;
  color:#3b3a36;
}

.main-content {
  max-width: 350px;
  margin: 0 auto;
}

.header {
  border: 2px solid yellow;
  margin: 0 auto;
}

.title {
  border: 2px solid green;
  position: relative;
}

.title h1 {
  max-width: 200px;
  display: inline-block;
  margin-top: 20px;
}

.scoreboard {
  border: 1px solid red;
  display: inline-block;
  margin: 20px 5px 0px 0px;
  background: #9fa8a3;
  border-radius: 8px;
  float: right;
  text-align: center;
  min-width: 55px;
  color: #fff;
  font-size: 18px;
}

.scoreboard p {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #e9ece5;
  font-size: 0.7em;
  text-transform: uppercase;
}

button {
/*  float: right;
  display: inline;*/
  background: #c0dfd9;
  border-radius: 8px;
  font-family: 'Saira Condensed', sans-serif;
  text-transform: uppercase;
}

.description {
  margin: 10px auto;
}

.game-board {
  border: 2px solid red;
  margin: 0 auto;
  text-align: center;
}

table {
  border: 2px solid green;
  background: #b3c2bf;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

td {
  background: rgba(255, 255, 255, 0.25);
  width:30px;
  height:30px;
  border: 2px solid #9eb2ae;
  border-radius: 8px;
  font-size: 1.5em;
  color: #776e65;
}

